<div class="card text-center">
  <div class="card-header">
    <h4>Recuperación de password</h4>
  </div>
      <div class="card-body">
        <h5 class="card-title"><p>Ingrese su nueva password</p></h5>
        <p class="card-text"><input type='text' placeholder='password' /></p>
        <h5 class="card-title"><p>Repita su nueva password</p></h5>
        <p class="card-text"><input type='text' placeholder='password' /></p>        
        <button type="button" class="btn btn-success"><input type='button' value='Confirmar' /></button>
        <button type="button" class="btn btn-success"><input type='button' value='Volver' /></button>
      </div>
      <div class="card-footer text-muted">
        <h5><p>enlace</p></h5>
      </div>
</div>